

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

@using (Html.BeginForm("Confirm", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <table>
            <thead>
                <th>Pet Type</th><th>Pet Name</th><th>Pet Price</th>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.MyList)
                {
                    <tr>
                        <td>@item.SelectPetType</td>
                        <td>@item.SelectPetName</td>
                        <td>@item.SelectPrice</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}