@model Vladi2.Models.Pet

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

@using (Html.BeginForm("Stage2", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        @* dont know how to bring the stuff here *@
        @*@Html.LabelFor(a => a.FirstName)
        @Html.LabelFor(a => a.LastName)
        @Html.LabelFor(a => a.Email)
        @Html.LabelFor(a => a.Phone)
        @Html.LabelFor(a => a.CreditNumber)*@
        @* need to insert here the total price with ViewBag or same bullshit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}