@model Vladi2.Models.ShoppingCart

@{
    ViewBag.Title = "Stage1";
}

<h2>Step1</h2>

@using (Html.BeginForm("AddToCart", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Welcome to the Shop</h4>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                        @Html.Label("Pet Type", new { @class = "col-md-3 control-label" })
                        @Html.DropDownListFor(x => x.SelectPetType, new SelectList(Model.PetType, "Value", "Text"), "Select Pet Type", new { @class = "col-md-9 form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.Label("Pet Name", new { @class = "col-md-3 control-label" })
                    @Html.DropDownListFor(x => x.SelectPetName, new SelectList(Model.PetName, "Value", "Text"), "Select Pet Name", new { @class = "col-md-9 form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.Label("Price", new { @class = "col-md-3 control-label" })
                    @Html.TextBoxFor(x => x.SelectPrice, new { disabled = "disabled", @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button type="submit" id="submitButtonShop" class="btn btn-primary disabled">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        @Html.ActionLink("Move to order confirmation", "Confirm", "Shop", new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
            
            </div>
        </div>
}

@ViewBag.AddToCartMessage

@section scripts {
    <script src="~/scripts/scriptShop.min.js"></script>
}