@model Vladi2.Models.ShoppingCart

@{
    ViewBag.Title = "Stage1";
}

<h2>Step1</h2>

@using (Html.BeginForm("AddToCart", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Welcome to the Shop</h4>
        <hr />

        @Html.DropDownListFor(x => x.SelectPetType, new SelectList(Model.PetType, "Value", "Text"), "Select Pet Type")
        @Html.DropDownListFor(x => x.SelectPetName, new SelectList(Model.PetName, "Value", "Text"), "Select Pet Name")
        @Html.TextBoxFor(x => x.SelectPrice, new { disabled = "disabled" })
        
        <button type="submit">Add to cart</button>

    </div>
}

@ViewBag.AddToCartMessage
@Html.ActionLink("Move to order confirmation", "Confirm", "Confirm");
@section scripts {
    <script src="~/scripts/scriptShop.js"></script>
}