<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*Renders and minifes site css*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Registration", "Index", "Registration", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Forum", "Index", "Forum", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Profile", "Index", "UserProfile", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Shop", "Stage1", "Shop", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Info", "Index", "Information", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("ShoppingCart", "Index", "ShoppingCart", new { area = "" }, new { @class = "navbar-brand" })
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*create your header tabs here*@
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    @*all the views are rendered inside this div*@
    @RenderBody()
    <hr/>
    @*layout footer*@
    <footer>
        @Html.ActionLink("About Us", "About Us", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Job", "Job", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Terms", "Terms", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Privacy", "Privacy", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Contact Us", "Contact Us", "Home", new { area = "" }, new { @class = "navbar-brand" })

    </footer>
</div>
    @*renders and minifies scripts with the mvc bundles*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
