@model IEnumerable<Vladi2.Models.CartItem>

@{
    ViewBag.Title = "Shopping Cart";
}


<h2>My Items</h2>
<br />
@if (Model == null)
{
    @ViewBag.Message
}
else
{
    <div class="tableContainer">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.petName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.petType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Remove
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="@Html.DisplayFor(modelItem => item.petId)">
                    <td>
                        @Html.DisplayFor(modelItem => item.petName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.petType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a href="@Url.Action("RemoveItem", new { petId = item.petId })">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
        
