

@{
    ViewBag.Title = "ShoppingCert";
}

<h2>Shopping Cert</h2>

@using (Html.BeginForm("Index", "ShoppingCert", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <table>
            <thead>
                <th>Pet Type</th><th>Pet Name</th><th>Pet Price</th>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.MyList)
                {
                    <tr>
                        <td>@item.SelectPetType</td>
                        <td>@item.SelectPetName</td>
                        <td>@item.SelectPrice</td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit">Next</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}