@model Vladi2.Models.AdminUser

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Administrative User</h2>

@if (ViewBag.ErrorMessage == null)
{
    using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />

            <div class="container-fluid">

                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                        <div class="col-md-10"> 
                            @Html.TextBoxFor(model => model.Username, new { @readonly = "readonly", @class = "form-control col-md-10" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.isAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.isAdmin, new { @class = "form-control col-md-10" })
                            @Html.ValidationMessageFor(model => model.isAdmin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-1">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })                            
                        </div>
                        <div class="col-md-offset-2 col-md-1">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div>@ViewBag.ErrorMessage</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}