@model IEnumerable<Vladi2.Models.Information>

@{
    ViewBag.Title = "Information";
}

<h2>Information</h2>

@if (Model == null)
{
    @ViewBag.Message
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetPrice)
                </td>
            </tr>
        }

    </table>
}


