@model IEnumerable<Vladi2.Models.ForumMessage>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-10">
        <h2>Index</h2>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Post a new message", "Create")
    </div>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
    </tr>
}

</table>

<div class="form-group">
    <div class="col-md-10"></div>
    <div class="col-md-2 ">
        
    </div>
</div>

