@model IEnumerable<Vladi2.Models.ForumMessage>

@{
    ViewBag.Title = "Forum";
}
<div class="row">
    <div class="col-md-10">
        <h2>Forum</h2>
    </div>
    <br />
    <div class="col-md-2">
        @Html.ActionLink("Post a new message", "Create", null, new { @class = "btn btn-primary" } )
    </div>
</div>
<hr />
<div class="tableContainer">   
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
        </tr>
    }

    </table>

</div>

