@model Vladi2.Models.User

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div>
            @Html.LabelFor(a => a.Username)
        </div>
        <div>
            @Html.EditorFor(a => a.Username)
            @Html.ValidationMessageFor(a => a.Username)
            @ViewBag.UserMessage
        </div>
        <div>
            @Html.LabelFor(a => a.Password)
        </div>
        <div>
            @Html.EditorFor(a => a.Password)
            @Html.ValidationMessageFor(a => a.Password)
        </div>
        <div>
            @Html.LabelFor(a => a.ComparePassword)
        </div>
        <div>
            @Html.EditorFor(a => a.ComparePassword)
            @Html.ValidationMessageFor(a => a.ComparePassword)
        </div>
        <div>
            @Html.LabelFor(a => a.Email)
        </div>
        <div>
            @Html.EditorFor(a => a.Email)
            @Html.ValidationMessageFor(a => a.Email)
        </div>
        <div>
            @Html.LabelFor(a => a.FirstName)
        </div>
        <div>
            @Html.EditorFor(a => a.FirstName)
            @Html.ValidationMessageFor(a => a.FirstName)
        </div>
        <div>
            @Html.LabelFor(a => a.LastName)
        </div>
        <div>
            @Html.EditorFor(a => a.LastName)
            @Html.ValidationMessageFor(a => a.LastName)
        </div>
        <div>
            @Html.LabelFor(a => a.Phone)
        </div>
        <div>
            @Html.EditorFor(a => a.Phone)
            @Html.ValidationMessageFor(a => a.Phone)
        </div>
        <div>
            @Html.LabelFor(a => a.Picture)
        </div>

        <div class="form-group">
            <input type="file" name="Picture" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif,.bmp" />
            <div>@ViewBag.PictureMessage</div>
        </div>

        <div>
            <input type="submit" value="Register" />
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

